<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adoption Details</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <style>
    .card {
      width: 18rem;
      margin: 1rem;
    }
    .heading{
        color: black;
    }
    .images{
        height: 15rem!important;
    }
  </style>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
  <div class="container">
    <h1 class="mt-5 heading">Children Available for Adoption</h1>
    <div class="row">
      <% childs.forEach((user, index) => { %>
        <div class="col-md-4">
          <div class="card">
            <img class="images" src="/images/<%= user.image %>" class="card-img-top" alt="<%= user.name %>" >
            <div class="card-body">
              <h5 class="card-title"><%= user.name %></h5>
              <p class="card-text">Age: <%= user.age %></p>
              <p class="card-text">Gender: <%= user.gender %></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal<%= index %>">
                View Details
              </button>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal<%= index %>" tabindex="-1" aria-labelledby="modalLabel<%= index %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel<%= index %>"><%= user.name %> Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="/images/<%= user.image %>" class="img-fluid mb-3" alt="<%= user.name %>">
                <p><strong>Name:</strong> <%= user.name %></p>
                <p><strong>Age:</strong> <%= user.age %></p>
                <p><strong>Gender:</strong> <%= user.gender %></p>
                <p><strong>Height:</strong> <%= user.height %></p>
                <p><strong>Weight:</strong> <%= user.weight %></p>
                <p><strong>Hobbies:</strong> <%= user.hobbies %></p>
                <p><strong>Health:</strong> <%= user.health %></p>
                <p><strong>Orphanage Name:</strong> <%= user.orphanage.name %></p>
                <p><strong>Orphanage Email:</strong> <%= user.orphanage.email %></p>
                <p><strong>Orphanage Phone No.:</strong> <%= user.orphanage.phone %></p>
                <p><strong>Orphanage Address:</strong> <%= user.orphanage.address %></p>
                <p><strong>Adopted:</strong> <%= user.adopted ? 'Yes' : 'No' %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include('includes/footer.ejs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
